.App {
    height: 100vh;
    width: 100%;
    background-color: #3a3a3a;

    display: flex;
    align-items: center;
    justify-content: center;
}

.counter {
    border: 2px solid #47c0ff;
    border-radius: 15px;
    height: 350px;
    width: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.scoreboard {
    width: 100%;
    height: 50%;

    background: #47c0ff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.btnWrapper {
    width: 100%;
    height: 45%;
    border: 2px solid #47c0ff;
    border-radius: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.btn {
    border-radius: 15px;
    background-color: #47c0ff;
    height: 100%;
    width: 100%;

    font-size: 40px;
    color: #3a3a3a;
}